description "prepare directories for {{ upstart_name }}"
start on starting {{ upstart_name }}

task

script
    exec install -o {{ upstart_user }} -g {{ upstart_group }} -d {{ upstart_pidfile_directory }}
    exec install -o {{ upstart_user }} -g {{ upstart_group }} -d {{ upstart_log_directory }}
end script